# Regular Expression - RegEX

## RegEX - patter matching like mobile number, mailid,website link

### syntax : -

# search() ---> it search first occurence
### search finds only one pattern
### by using search we can get only index


### val = re.search(pattern,string)

In [5]:
import re

s = 'RegEX - pattern matching like mobile number, mailid,website link'
val = re.search('like',s) ## <re.Match object; span=(25, 29), match='like'>
print(val)
if val:
    print(val.span()) # -----> span is used to tell the start and stop of intex for the searching value
else:
    print('Pattern not found')

<re.Match object; span=(25, 29), match='like'>
(25, 29)

## group()
### By using group we can get the matched word in search we can get index only

In [6]:
print(val.group())

like

In [7]:
s = 'cr7 \t is a GOAT'
val = re.search(r'\t',s) ### r is used for saftey purpose in mainly \ cases
val.group()

'\t'

## startswith

### symbol ---- ^

### it is used to search the pattern startswith for that we use that symbol

In [8]:
s = 'cr7 \t is a GOAT'

val = re.search(r'^cr7',s)
val

## endswith

### symbol --- $

### it is used to checks the pattern endswith

In [9]:
s = 'cr7 is a GOAT'

val = re.search(r'GOAT$',s)
val

# findall()

In [10]:
s = 'messi is a GOAT but cr7 is OG GOAT'
val = re.findall('is',s)
val

['is', 'is']

## find alphabets

### [A-Z] [a-z]
### [A-Za-z]

In [11]:
s = 'messi is a GOAT but cr7 is OG GOAT'
val = re.findall(r'[A-z]',s)
val

['m',
 'e',
 's',
 's',
 'i',
 'i',
 's',
 'a',
 'G',
 'O',
 'A',
 'T',
 'b',
 'u',
 't',
 'c',
 'r',
 'i',
 's',
 'O',
 'G',
 'G',
 'O',
 'A',
 'T']

In [12]:
s = 'messi is #a GOAT but #^! cr7 is OG GOAT'
val = re.findall(r'[#^! ]',s)
val

[' ', ' ', '#', ' ', ' ', ' ', '#', '^', '!', ' ', ' ', ' ', ' ']

## find numbers

### [0-9]

In [13]:
s = 'messi is a GOAT but cr7 is OG GOAT'
val = re.findall(r'[0-9]',s)
val

['7']

# (+) pattern - it is used to check pattern present 1 or more times

### [A-Za-z0-9]+

In [14]:
s = 'messi is a GOAT but cr7 is OG GOAT'
val = re.findall(r'[A-za-z0-9]+',s)
val

['messi', 'is', 'a', 'GOAT', 'but', 'cr7', 'is', 'OG', 'GOAT']

# (*) pattern - it is used to check pattern present 0 or more times and returns group of characters based on pattern
## and it checks character by charcter including spaces

In [15]:
s = '*messi is a GOAT but cr7 is OG GOAT'
val = re.findall(r'[A-Z]*',s)
val

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'GOAT',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'OG',
 '',
 'GOAT',
 '']

## In regular expressions (regex), {} (curly braces) are used for quantifiers â€” they specify how many times the preceding character, group, or character class should appear.

In [16]:
s = 'messi is a GOAT but cr7 is OG GOAT'
val = re.findall(r'[A-za-z0-9]{3,}',s)
val = re.findall(r'[A-Za-z0-9]{3,5}',s)
val

['messi', 'GOAT', 'but', 'cr7', 'GOAT']

In [17]:
import re
s = 'hello this is my mobile number 9876543210'
val = re.findall(r'[0-9]{10}',s)
val

['9876543210']

In [18]:
s = '1111 2222 3333 4444as'
val = re.findall(r'[0-9]{4} [0-9]{4} [0-9]{4} [0-9]{4}',s)
val

['1111 2222 3333 4444']

# \d - it used to get only numbers

In [19]:
s = '123 45ds123j 123 sdf323'
val = re.findall(r'\d',s)
val

['1', '2', '3', '4', '5', '1', '2', '3', '1', '2', '3', '3', '2', '3']

In [20]:
s = '123 45ds123j 123 sdf323_ $#2*'
val = re.findall(r'\d+',s)
val

['123', '45', '123', '123', '323', '2']

# \D it returns except numbers return all characters including special cases and spaces also

In [21]:
s = '123 45ds123j 123 sDf323_ $#2*'
val = re.findall(r'\D',s)
val

[' ', 'd', 's', 'j', ' ', ' ', 's', 'D', 'f', '_', ' ', '$', '#', '*']

In [22]:
s = '123 45ds123j 123 sDf323_ $#%^*'
val = re.findall(r'\D+',s)
val

[' ', 'ds', 'j ', ' sDf', '_ $#%^*']

# \s it returns only space

In [23]:
s = '123 45ds123j 123 sDf323_ $#%^*'
val = re.findall(r'\s',s)
val

[' ', ' ', ' ', ' ']

# \ S capital s removes space and returns all

In [24]:
s = '123 45ds123j 123 sDf323_ $#%^*'
val = re.findall(r'\S',s)
val

['1',
 '2',
 '3',
 '4',
 '5',
 'd',
 's',
 '1',
 '2',
 '3',
 'j',
 '1',
 '2',
 '3',
 's',
 'D',
 'f',
 '3',
 '2',
 '3',
 '_',
 '$',
 '#',
 '%',
 '^',
 '*']

# \w it excludes special characters and space also and returns characters and digits

In [25]:
s = '123 45ds123j 123 sDf323_ $#%^*'
val = re.findall(r'\w',s)
val

['1',
 '2',
 '3',
 '4',
 '5',
 'd',
 's',
 '1',
 '2',
 '3',
 'j',
 '1',
 '2',
 '3',
 's',
 'D',
 'f',
 '3',
 '2',
 '3',
 '_']

In [26]:
s = '123 45ds123j 123 sDf323_ $#%^*'
val = re.findall(r'\w+',s)
val

['123', '45ds123j', '123', 'sDf323_']

# \b bound by using this we can check the exact pattern as we given

## get the adhaar number from string

In [27]:
s = 'Adhaar Number: 1111-2222-3333 rishi4444-5555-6666 rishi'
val = re.findall(r'\b\d{4}-\d{4}-\d{4}\b',s)
val

['1111-2222-3333']

In [28]:
s = 'Adhaar Number: 1111 2222 3333 rishi-4444-5555-6666'
val = re.findall(r'\b\d{4}[-\s]+\d{4}[-\s]+\d{4}\b',s)
val

['1111 2222 3333', '4444-5555-6666']

In [29]:
s = 'walterwhite_heisenbergh@gmail.com'
val = re.findall(r'\b^[a-z0-9_]+@gmail.com+$\b', s)
val

['walterwhite_heisenbergh@gmail.com']

## () is used to match group patterns along with we need to match non grouped patterns for that we use ?:

In [30]:
s = 'walterwhite_heisenbergh@yahoo.com'
val = re.findall(r'\b^[a-z0-9_]+@(?:gmail|outlook|yahoo).com+$\b', s)
val

['walterwhite_heisenbergh@yahoo.com']

In [31]:
s = 'www.google.com www.linkedin.in'
val = re.findall(r'www\.+[a-z0-9_]+\.(?:com|in|org)+',s)
val

['www.google.com', 'www.linkedin.in']

## Tasks

### https://www.google.com  
### https://google.com
### https:///www.google.com
### www.google.com

In [32]:
s = 'https://www.google.com  https://google.com https:///www.google.com www.google.com'
val = re.findall(r'(?:https://www)\.[a-z]+\.com|(?:www)\.[a-z]+\.com', s)
val

['https://www.google.com', 'www.google.com', 'www.google.com']

## . it is used to next a one character

In [33]:
s = 'aaa aba abba'
val = re.findall(r'a.',s)
val

['aa', 'a ', 'ab', 'a ', 'ab']

In [34]:
s = 'aaa aba abba'
val = re.findall(r'a.a',s)
val

['aaa', 'aba']

In [35]:
s = 'aaa aba abba'
val = re.findall(r'a..a',s)
val

['aa a', 'abba']

## ? means that the previous element is optional â€” it can appear 0 or 1 time.

In [36]:
s = 'www.amazon.in wwwamazon.in amazon.inin'
re.findall(r'www\.?[a-z]+\.in',s)

['www.amazon.in', 'wwwamazon.in']

In [37]:
s = 'www.amazon.in amazon.in amazon.inin'
re.findall(r'(?:www)\.[a-z]+\.in',s)

['www.amazon.in']

In [38]:
s = '03-10-2004'
re.findall(r'\d{2}-\d{2}-\d{4}',s)

['03-10-2004']

In [39]:
import re
s = input('Enter your DD-MM-YYYY date of birth:')
print('validating DOB....')
re.findall(r'(?:0[1-9]|1[0-9]|2[0-9]|3[0-1])[/\-\s.](?:0[1-9]|1[0-2])[/\-\s.]\d{4}',s)

validating DOB....

[]

In [ ]:
s = input('Enter Your date:')
re.findall(r'(?:0[1-9]|1[0-2])[\:](?:0[1-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9])[\:](?:0[1-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9])',s)

['11:05:35']

In [ ]:
s = input("Enter a string: ")
rev = ''
for i in range(len(s)-1, -1, -1):
    rev += s[i]
print("Reversed string:", rev)
# for i in s:
#     rev = i + rev
if rev == s:
    print('it is palindrome')
else:
    print('not a palindrome')

Reversed string: CBA
not a palindrome

In [ ]:
# nums = eval(input('Enter numbers for:'))
nums = [1,2,3,4,5,6,7]
i = 0
sum = 0
count = 0

while i<len(nums):
    if nums[i]%2 == 1:
        sum+=nums[i]
        count+=1
    i+=1
print('Average of input:',sum/count)

Average of input: 4.0

In [ ]:
s = int(input('enter numbers:')) # 123
sum,count = 0,0
while s!=0:
    digit = s%10
    if digit % 2 == 1:
        sum += digit
        count += 1
    s = s//10
    
print('Average of input:',sum/count)

Average of input: 2.0