# Pandas

In [3]:
import pandas as pd

In [4]:
series = pd.Series([1,2,3,4,5],index=['A','B','C','D','E'])
series

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [5]:
series = pd.Series((1,2,3,4,5),index=['A','B','C','D','E'])
series

A    1
B    2
C    3
D    4
E    5
dtype: int64

## Set is unordered collection so not possible

In [6]:
series = pd.Series({1,2,3,4,5},index=['A','B','C','D','E'])
series

TypeError: 'set' type is unordered

In [ ]:
series = pd.Series({'A':1,'B':2,'C':3,'D':4,'E':5})
series

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [ ]:
pd.Series({"Name":['AA','BB'],"Name1":['AA']})

Name     [AA, BB]
Name1        [AA]
dtype: object

## DataFrame Creation:-

## Syntax:-
## pd.DataFrame(dict)

In [7]:
data = pd.DataFrame({'Name':['Batman','Captain America'],'Role':['Leader','Captain']})
data

              Name     Role
0           Batman   Leader
1  Captain America  Captain

In [15]:
data = pd.DataFrame({'Name':['David Warner','Kane Williamson','Yuvaraj Singh','Shikwar Dhawan',
                             'Aiden Markaram','Pat Cummins','Henrich Klassen','Abishek Sharma',
                             'Nithish Kumar','Bhuvaneshwar Kumar','Travis Head'],
                     'Country':['Aus','NZ','Ind','Ind','SA','Aus','SA','Ind','Ind','Ind','Aus']})
data

                  Name Country
0         David Warner     Aus
1      Kane Williamson      NZ
2        Yuvaraj Singh     Ind
3       Shikwar Dhawan     Ind
4       Aiden Markaram      SA
5          Pat Cummins     Aus
6      Henrich Klassen      SA
7       Abishek Sharma     Ind
8        Nithish Kumar     Ind
9   Bhuvaneshwar Kumar     Ind
10         Travis Head     Aus

In [11]:
data = pd.DataFrame([[1,2],[4,5]],columns=['col1','col2'])
data

   col1  col2
0     1     2
1     4     5